<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- SQLite Connection String -->
		<add name="DefaultSqlLite" connectionString="Data Source=./wwwroot/App_Data/Posts.db" providerName="System.Data.SQLite" />
		<add name="LetsChatFinalContextConnection" connectionString="Data Source=./wwwroot/App_Data/LetsChatFinal.db" providerName="System.Data.SQLite" />
	</connectionStrings>

	<system.web>
		<!-- Custom Errors Configuration -->
		<customErrors mode="RemoteOnly" />

		<!-- Compilation Debugging -->
		<compilation debug="true" targetFramework="net6.0" />

	</system.web>

</configuration>
