@{
    ViewBag.Title = "Skills";

    <div class="container mt-5">
        <h2 class="mb-4">My Skills</h2>

        <div class="row">
            <!-- Programming Languages -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Programming Languages</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">C#</li>
                            <li class="list-group-item">Python</li>
                            <li class="list-group-item">Java</li> <!-- Add more programming languages as needed -->
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Web Technologies -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Web Technologies</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">HTML5</li>
                            <li class="list-group-item">CSS3</li>
                            <li class="list-group-item">JavaScript</li> <!-- Add more web technologies as needed -->
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Databases -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Databases</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">SQL Server</li>
                            <li class="list-group-item">MySQL</li>
                            <li class="list-group-item">MongoDB</li> <!-- Add more frameworks and libraries as needed -->
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Frameworks and Libraries -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Frameworks and Libraries</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">.NET Core</li>
                            <li class="list-group-item">ASP.NET MVC</li>
                            <li class="list-group-item">Django</li> <!-- Add more frameworks and libraries as needed -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Development Tools</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Git</li>
                            <li class="list-group-item">Package Managers (npm, pip)</li>
                            <li class="list-group-item">Visual Studio</li>
                            <li class="list-group-item">Pycharm</li><!-- Add more frameworks and libraries as needed -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add more rows as needed -->

    </div>

}

