@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-section">
    <h1 class="hero-title">Thoughts on technology, community, and the journey from Jersey City to the tech world.</h1>
    <p class="hero-subtitle">Exploring the intersection of technology, community development, and personal growth through the lens of a first-generation American's journey in the tech industry.</p>
</div>

<div class="about-content">
    <h2>About Me</h2>
    <p class="lead">Meet Roberto Galdamez, a first-generation American hailing from the vibrant streets of Jersey City.</p>
    
    <p>As a recent graduate with a degree in Computer Science from New Jersey City University, Roberto shares his compelling story of transcending the challenges of inner-city life to pursue a career in technology. With a deep passion for both full-stack development and machine learning, he is currently exploring new opportunities and seeking a job in the tech industry.</p>
    
    <p>In an era dominated by technology, where computers seamlessly weave into our daily lives, Roberto sheds light on the stark reality that only a fraction truly understands the intricate processes behind the scenes. While advocating for increased emphasis on STEM education in schools, he delves deeper into the mindset challenges faced by individuals, especially youth grappling with issues like depression and anxiety.</p>
    
    <p>Roberto emphasizes the undeniable demand for skilled individuals in the tech sector, juxtaposed against the underrepresentation of locals in emerging tech hubs like Jersey City. He notes the influx of tech companies, often bringing in talent from abroad, and questions why individuals from his own community aren't seizing these opportunities.</p>
    
    <p>Having grown up in the heart of Jersey City's urban landscape, Roberto shares his personal journey as the child of Honduran immigrants. While acknowledging the sacrifices his parents made for a better life, he reflects on the lack of resources that shaped his formative years.</p>
    
    <p>Roberto's story isn't just a narrative of personal triumph; it's a call to action. He hopes that by sharing his journey, he can inspire individuals from similar backgrounds to explore the ever-expanding realm of technology.</p>
</div>
