@{
    ViewData["Title"] = "Home Page";
}

<div class="tweetsDiv container" style="margin: 30px">
    <h2 class="tweetsDiv.postTitle text-center">Street Coders</h2>
    <p class="tweetsDiv.tweet">
        Introduction:<br></br>

        Meet Roberto Galdamez, a first-generation American hailing from the vibrant streets of Jersey City. As a senior studying Computer Science at New Jersey City University, Roberto shares his compelling story of transcending the challenges of inner-city life to pursue a career in technology. With a deep passion for both full-stack development and machine learning, he aspires to not only break barriers but also inspire others facing similar struggles to explore the vast opportunities in the tech world.<br></br>

        Setting the Stage:<br></br>

        In an era dominated by technology, where computers seamlessly weave into our daily lives, Roberto sheds light on the stark reality that only a fraction truly understands the intricate processes behind the scenes. While advocating for increased emphasis on STEM education in schools, he delves deeper into the mindset challenges faced by individuals, especially youth grappling with issues like depression and anxiety.<br></br>

        Tech's Demand and Diversity:<br></br>

        Roberto emphasizes the undeniable demand for skilled individuals in the tech sector, juxtaposed against the underrepresentation of locals in emerging tech hubs like Jersey City. He notes the influx of tech companies, often bringing in talent from abroad, and questions why individuals from his own community aren't seizing these opportunities. In his view, it's not just about knowledge but also about equipping communities with the resources to fill these roles on a larger scale.<br></br>

        Humble Beginnings:<br></br>

        Having grown up in the heart of Jersey City's urban landscape, Roberto shares his personal journey as the child of Honduran immigrants. While acknowledging the sacrifices his parents made for a better life, he reflects on the lack of resources that shaped his formative years. Left home alone at an early age due to his parents' work commitments, Roberto's experiences underscore the mental health challenges he faced – challenges he is determined to overcome for himself and his community.<br></br>

        The Call to Action:<br></br>

        Roberto's story isn't just a narrative of personal triumph; it's a call to action. He hopes that by sharing his journey, he can inspire individuals from similar backgrounds to explore the ever-expanding realm of technology. As gentrification transforms his hometown, Roberto advocates for a more inclusive tech landscape where local talents are nurtured and given the opportunity to thrive.<br></br>

        Conclusion:<br></br>

        In the chapters to follow, Roberto Galdamez invites readers to join him on a transformative journey – from the streets of Jersey City to the dynamic world of software development. Through his struggles, triumphs, and unwavering belief in the potential of his community, Roberto sets out to pave the way for a new generation of tech enthusiasts, breaking down barriers and reshaping the face of Silicon Streets.






</p>
</div>